APP_NAME=b-federation-security-lab
SERVER_PORT=8101
POSTGRES_DB=b_federation_security_lab
POSTGRES_USER=study2
POSTGRES_PASSWORD=study2
POSTGRES_PORT=5541
REDIS_PORT=6381
MAILPIT_SMTP_PORT=1025
MAILPIT_UI_PORT=8126
