APP_NAME=commerce-backend
SERVER_PORT=8110
POSTGRES_DB=commerce_backend
POSTGRES_USER=study2
POSTGRES_PASSWORD=study2
POSTGRES_PORT=5550
REDIS_PORT=6390
MAILPIT_SMTP_PORT=1030
MAILPIT_UI_PORT=8129
KAFKA_PORT=19090
