node_modules/
dist/
coverage/
.DS_Store
*.log
.vite/
*.tsbuildinfo
**/node_modules/
**/dist/
**/coverage/
**/.vite/
**/.env
study/**/notion/
study/**/node_modules/
study/**/dist/
study/**/coverage/
study/**/.vite/
study/**/.env
