study/**/notion/
**/node_modules/
**/.bundle/
**/.maestro-debug/
**/coverage/
**/.gradle/
**/.idea/
**/.DS_Store
**/*.keystore
**/android/.gradle/
**/android/app/build/
**/android/build/
**/ios/Pods/
**/ios/build/
**/DerivedData/
**/*.log
legacy/workspace/
legacy/workspace.prev.*/
