go 1.24.0

use (
	./00-go-fundamentals/01-go-syntax-and-tooling/go
	./00-go-fundamentals/02-types-errors-interfaces/go
	./00-go-fundamentals/03-testing-and-debugging/go
	./01-backend-core/04-sql-and-data-modeling/go
	./01-backend-core/05-http-rest-basics/go
	./01-backend-core/06-go-api-standard/go
	./01-backend-core/07-auth-session-jwt/go
	./01-backend-core/08-sql-store-api/go
	./01-backend-core/09-cache-migrations-observability/go
	./01-backend-core/10-concurrency-patterns/go
	./01-backend-core/11-rate-limiter/go
	./02-distributed-systems/12-grpc-microservices/go
	./02-distributed-systems/13-distributed-log-core/go
	./03-platform-engineering/14-cockroach-tx/go
	./03-platform-engineering/15-event-pipeline/go
	./04-capstone/17-game-store-capstone/go
	./05-portfolio-projects/18-workspace-saas-api/go
)
