go 1.24.0

use (
	./00-go-fundamentals/01-go-syntax-and-tooling/solution/go
	./00-go-fundamentals/02-types-errors-interfaces/solution/go
	./00-go-fundamentals/03-testing-and-debugging/solution/go
	./01-backend-core/04-sql-and-data-modeling/solution/go
	./01-backend-core/05-http-rest-basics/solution/go
	./01-backend-core/06-go-api-standard/solution/go
	./01-backend-core/07-auth-session-jwt/solution/go
	./01-backend-core/08-sql-store-api/solution/go
	./01-backend-core/09-cache-migrations-observability/solution/go
	./01-backend-core/10-concurrency-patterns/solution/go
	./01-backend-core/11-rate-limiter/solution/go
	./02-distributed-systems/12-grpc-microservices/solution/go
	./02-distributed-systems/13-distributed-log-core/solution/go
	./03-platform-engineering/14-cockroach-tx/solution/go
	./03-platform-engineering/15-event-pipeline/solution/go
	./04-capstone/17-game-store-capstone/solution/go
	./05-portfolio-projects/18-workspace-saas-api/solution/go
)
