APP_NAME=commerce-backend-v2
SERVER_PORT=8111
POSTGRES_DB=commerce_backend_v2
POSTGRES_USER=study2
POSTGRES_PASSWORD=study2
POSTGRES_PORT=5551
REDIS_PORT=6391
MAILPIT_SMTP_PORT=1031
MAILPIT_UI_PORT=8130
KAFKA_PORT=19091
